<div
    [ngClass]="{ reminder: task.reminder }"
    (dblclick)="onToggle(task)"
    class="task"
>
    <h3>{{ task.text }} 
        <fa-icon
            (click)="onDelete(task)"
            [icon]="faTimes"
            [ngStyle]="{ 'color': 'red' }"
        ></fa-icon>
    </h3>
    <p>{{ task.day }}</p>
</div>
