<form class="add-form" (ngSubmit)="onSubmit()" *ngIf="showAddTask">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" id="text" [(ngModel)]="text" placeholder="Add Task" />
    </div>
    <div class="form-control">
        <label for="text">Day & Time</label>
        <input type="text" name="day" id="day" [(ngModel)]="day" placeholder="Add Day & Time" />
    </div>
    <div class="form-control form-control-check">
        <label for="text">Set Reminder</label>
        <input type="checkbox" name="reminder" id="reminder" [(ngModel)]="reminder" />
    </div>
    <input type="submit" value="Save Task" class="btn btn-block" />
</form>
